.container {
  margin: 0 auto;
  max-width: 1300px;
  width: 100%;
}

@media #{$medium-and-up} {
  .container {
    width: 100% !important;
  }
}
@media #{$large-and-up} {
  .container {
    width: 100% !important; 
  }
}