.modal {
  background: linear-gradient(to bottom, #2a2a2a 0,#2a2a2a 60px,#000000 60px,white 61px,white 100%);

  h4 {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 1.2em;
    color: white;
    text-transform: uppercase;
  }

  .btn {
    margin-right: 10px !important;
  }

  form {
    margin-top: 25px;
  }
}
