.side-nav {

  margin-top: 64px;
  width: 266px !important;
  margin-bottom: 100px;
  a {
    display: block;
    width: 90%;
    margin: 10px 0 10px 5%;
    font-size: $sidenav-font-size;
    color: $sidenav-font-color;
    line-height: $sidenav-item-height;
    height: $sidenav-item-height;
    &.active {
      background-color: color("blue", "base");
      color: color("shades", "white");
      i {
        color: color("shades", "white") !important;
      }
    }
  }
  li.heading {
    font-size: 1.5em;
    color: color("grey", "lighten-1");
    margin: 15px 25px;
  }
  li > a > i {
    font-size: 1.1em !important;
    padding-right: 12px;
    color: color("grey", "lighten-1");
  }
}

.side-nav-secondary.fixed {
  left: 266px;
}


// Fixed sideNav DON'T hide on smaller
@media #{$medium-and-down} {
  .side-nav {
    &.fixed {
      transform: none;

      &.right-aligned {
        transform: none;
      }
    }
  }
}

