.side-nav {
  /* temp */
  // padding-top: 100px;

  width: 266px !important;


  &.fixed {
  

    a {
      display: block;
      width: 90%;
      margin-left: 5%;

      color: color("grey", "lighten-1");
      height: 38px;
      line-height: 38px;
      i {
        padding-right: 12px;
      }
      &.active {
        background-color: color("blue", "base");
        color: color("shades", "white");
      }
    }
  }
}

.side-nav-secondary.fixed {
  left: 266px;
}
